<table>
	<thead>
		<tr>
			<th>Symbol</th>
			<th>Example</th>
			<th>Explanation</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Capitalised English word</td>
			<td>MAN</td>
			<td>Signs are labelled with capitalised English words.</td>
		</tr>
		<tr>
			<td>fs-</td>
			<td>fs-ALL</td>
			<td>"fs-" is used to represent fingerspelling.</td>
		</tr>
		<tr>
			<td>+</td>
			<td>CLASS+ROOM</td>
			<td>A plus sign indicates a compound sign.</td>
		</tr>
		<tr>
			<td>GLOSS""</td>
			<td>PUT"right"</td>
			<td>
				Information on the location of something is shown in quotes,
				after the gloss.
			</td>
		</tr>
		<tr>
			<td>* *</td>
			<td>*STOP*</td>
			<td>
				Command. Indicates that eyes are wide open while signing the
				command.
			</td>
		</tr>
		<tr>
			<td>
				<u>y/n</u>
			</td>
			<td>
				<u>y/n</u>
				<br />
				MAN HOME
			</td>
			<td>
				Yes/No question. Indicates that eyebrows are frowned while
				signing question.
			</td>
		</tr>
		<tr>
			<td>
				<u>neg</u>
			</td>
			<td>
				<u class="no-i-not-student">neg</u>
				<br />
				NO I NOT STUDENT
			</td>
			<td>Negation. Head shake while signing.</td>
		</tr>
		<tr>
			<td>
				<u>nod</u>
			</td>
			<td>
				<u class="boy-home">nod</u>
				<br />
				BOY HOME
			</td>
			<td>Affirmatives, which are indicated by nodding while signing.</td>
		</tr>
		<tr>
			<td>
				<u>t</u>
			</td>
			<td>
				<u class="linguistics-i-enjoy">t</u>
				<br />
				LINGUISTICS I ENJOY
			</td>
			<td>
				Topic markers. Indicates that eyebrows are raised while signing
				the topic.
			</td>
		</tr>
		<tr>
			<td>
				<u>rh</u>
			</td>
			<td>
				I GO HOME NOW
				<br />
				<u class="why-i-sick">rh</u>
				<br />
				WHY I SICK
			</td>
			<td>
				Rhetorical question, which is closely connected to "why".
				Indicates that eyebrows are frowned while signing the rhetorical
				question.
			</td>
		</tr>
		<tr>
			<td>
				<u>wh</u>
			</td>
			<td>
				<u class="you-come-how">rh</u>
				<br />
				YOU COME HOW
			</td>
			<td>
				WH-question. Indicates that eyebrows are raised while signing
				this question.
			</td>
		</tr>
	</tbody>
</table>

<style>
	u {
		display: inline-block;
		text-decoration: none;
		border-bottom: 1px solid black;
	}

	table,
	th,
	td {
		border: 1px solid black;
		border-collapse: collapse;
	}

	th,
	td {
		padding: 0.5em;
	}

	.no-i-not-student {
		padding-left: 7em;
	}

	.boy-home {
		padding-left: 3.3em;
	}

	.linguistics-i-enjoy {
		padding-left: 5.2em;
	}

	.why-i-sick {
		padding-left: 1.3em;
	}

	.you-come-how {
		margin-left: 5.1em;
		padding-left: 1.3em;
	}
</style>
